
$logo-dark-blue: #1e295f;
$logo-pink: #e91e63;
$text-white: #ffffff;
$logo-accent: #38bdf8;
$logo-highlight: #f59e0b;
$green: #198754 !default;
$cyan: #0dcaf0 !default;
$yellow: #ffc107 !default;
$red: #dc3545 !default;
$gray-100: #f8f9fa !default;
$gray-900: #212529 !default;

$primary:       $logo-pink;
$secondary:     $logo-dark-blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$search-color: $logo-highlight;
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$custom-colors: (
  "search": $search-color
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-utilities: (
  "max-height": (
    responsive: true,
    property: max-height,
    class: mh,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      300: 300px,
      400: 400px,
      500: 500px
    )
  )
);
