@use '../components/buttons' as *;

.card {
  width: 18rem;
  
  .card-title {
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.card-share-icon {
  @extend %btn-hover-effect;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--bs-primary);
  }
}
