body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: $primary;
    font-size: 2rem;
}

header {
    background-color: $primary !important;
}