footer {
  
  &.bg-secondary {
    color: #fff;
    
    h4, p {
      color: #fff;
    }
    
    .text-muted {
      color: rgba(255, 255, 255, 0.7) !important;
    }
    
    .nav-link:not(.active):not(.disabled) {
      color: #fff !important;
      
      &:hover {
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }
    
    .nav-link.active {
      color: var(--bs-primary) !important;
    }
    
    .nav-link.disabled {
      color: rgba(255, 255, 255, 0.4) !important;
    }
  }
}

.footer-links {
  .nav-link:not(.active):not(.disabled) {
    color: #fff !important;
    
    &:hover {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}
