@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/placeholders';

@import 'vendors/bootstrap';
@import 'base/reset';
@import 'base/typography';
@import 'base/base';

@import 'components/buttons';
@import 'components/cards';
@import 'components/forms';
@import 'components/navigation';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/sidebar';

@import 'pages/home';
@import 'pages/about';

@import 'themes/light';
@import 'themes/dark';

span.logo-soft {
    color: $text-white;
}