main {
    width: 400px;
    margin: auto;
}

.A {
    grid-area: A;
}

.B {
    grid-area: B;
}

.C {
    grid-area: C;
}

.D {
    grid-area: D;
}

.E {
    grid-area: E;
}

.F {
    grid-area: F;
}

.container div {
    background-color: rgb(90, 86, 86);
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    border-radius: 4PX;
}

.container {
    border: 2px grey solid;
    margin-bottom: 30px;
}

#c1 {
    padding: 10px;
    display: grid;
    grid-template-areas:
        "A B C"
        "D E F";
    gap: 12px;
}


#c2 {
    /*No funciona, motivo desconocido*/
    padding: 10px;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "A A B"
        "C D B"
    ;
}

#c3 {
    padding: 10px;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "A A B B"
        "C D D D"
        "E E E E"
    ;
}

.header {
    grid-area: Header;
}

.sidebar {
    grid-area: Sidebar;
}

.content {
    grid-area: Content;
}

.footer {
    grid-area: Footer;
}

#c4 {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". Header"
        "Sidebar Content"
        "Footer Footer"
    ;
}

#c5 {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "Header Content Content "
        "Sidebar Content Content "
    ;
}

#c4 .header {
    background-color: rgb(156, 154, 154);
}

#c4 .footer {
    background-color: rgb(156, 154, 154);
}

#c5 .content {
    background-color: red;
}

.interior {
    grid-area: Interior;
}

#c6 {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "A B"
        "C interior";
}

.interior div {
    background-color: rgb(204, 196, 196);
    color: rgb(90, 86, 86);

}

.interior {
    grid-area: interior;
    display: grid;
    grid-template-areas:
        "E E"
        "F G";
    gap: 10px;
}
@media (min-width: 800px) {
#c7 {
    padding: 10px;
    gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "A A B E"
        "C D B E"
    ;
}
.F7{
   display: none; 
}
}
@media (max-width: 800px){
 #c7{
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "D A"
        "E B"
        "F C"
    ;
 }
}